html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: black;
  color: #f1f1f1;
  text-align: center;
  background: radial-gradient(ellipse at top, rgb(0, 0, 0) 60%, #5e0cc2 100%);
}

h1 {
  margin: 1rem 0 0 0;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
}

h3,
h4,
h5,
a {
  font-size: 2rem;
  text-decoration: none;
}

a {
  color: #f1f1f1;
}

a:hover {
  color: #7e11d8;
}

p {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.8rem;
}

.titleLink:hover {
  color: #f1f1f1;
}

.title {
  font-size: 3rem;
  text-align: left;
  margin: 0 0 0 1rem;
}

.repoLink {
  font-size: 2.3rem;
  text-decoration: none;
}

.demoText {
  margin: 0;
}

.a11y {
  position: absolute;
  left: -9999px;
}

.container {
  width: 80%;
  margin: 2rem auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 9999rem;
}

.menu-active {
  top: calc((100vh / 2) - 10rem);
  left: calc((100vw / 2) - 14rem);
}

.menu ul {
  list-style: none;
  padding: 5rem;
  background-color: #000;
  border-radius: 10%;
}

.menu li {
  margin: 1rem 0;
  text-align: center;
}

.menu a {
  font-size: 3rem;
  -webkit-text-decoration: underline rgba(241, 241, 241, 0);
  text-decoration: underline rgba(241, 241, 241, 0);
  color: #f1f1f1;
  -webkit-transition: -webkit-text-decoration 0.3s ease-in;
  transition: -webkit-text-decoration 0.3s ease-in;
  transition: text-decoration 0.3s ease-in;
  transition: text-decoration 0.3s ease-in, -webkit-text-decoration 0.3s ease-in;
  white-space: nowrap;
}

.menu a:hover,
.menu a:focus {
  -webkit-text-decoration: underline #f1f1f1;
  text-decoration: underline #f1f1f1;
  color: #f1f1f1;
}

.menu a:active {
  -webkit-text-decoration: underline #f1f1f1;
  text-decoration: underline #f1f1f1;
  color: #ab1b1b;
}

.hamburger-container {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.151);
  cursor: pointer;
}

.hamburger-menu {
  position: absolute;
  top: 1.9rem;
  right: 0.5rem;
  width: 3rem;
  height: 0.2rem;
  background-color: white;
}

.hamburger-menu::after {
  position: absolute;
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: white;
  cursor: pointer;
  top: 1rem;
  right: 0rem;
  transition: 0.5s;
}

.hamburger-menu::before {
  position: absolute;
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: white;
  cursor: pointer;
  top: -1rem;
  right: 0rem;
  transition: 0.5s;
}

.hamburger-container {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  background-color: #ffffff27;
  cursor: pointer;
}

.hamburger-background {
  background-color: #ffffff6e;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hamburger-active .hamburger-menu::before {
  transform: rotate(45deg);
  top: 0;
}

.hamburger-active .hamburger-menu::after {
  transform: rotate(-45deg);
  top: 0;
}

.hamburger-active .hamburger-menu {
  background-color: rgba(0, 0, 0, 0);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin: 1rem 0;
  padding: 0 3px 0 3px;
  background-color: #000;
  color: #f1f1f1;
  font-size: 20px;
  line-height: 1.15;
}

.formLabels {
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: max-content;
}

.formRoleSelect select {
  margin: 10px 0 0 0;
  display: block;
  overflow: hidden;
  width: max-content;
  background-color: #000;
  color: #f1f1f1;
  font-size: 20px;
  line-height: 1.15;
}

.formRoleSelect select option {
  font-size: 2rem;
}

.formMessage textarea {
  margin: 10px 0 0 0;
  padding: 0 3px 0 3px;
  display: block;
  width: 300px;
  height: 200px;
  background-color: #000;
  color: #f1f1f1;
}

form button {
  font-size: 2rem;
  text-decoration: none;
  background-color: #5e0cc2;
  padding: 20px;
  border-radius: 40px;
  color: #f1f1f1;
}

form button:hover {
  color: #000;
  background-color: #f1f1f1;
  cursor: pointer;
}

footer {
  margin: 20px 0;
  max-width: 1500px;
  text-align: center;
}

footer p {
  font-size: 1.8rem;
  margin: 10px 0 0 0;
}

.mainFooter {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialsContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}

.socialsContainer li {
  background-color: #5e0cc2;
  border-radius: 50%;
  list-style: none;
  margin: 1rem 1rem;
  padding: 1rem;
}

.socialsContainer a:hover > li {
  background-color: #fff;
  cursor: pointer;
}

.socialsContainer a:active > li {
  background-color: #ab1b1b;
}

.socialIcon {
  margin: 1rem 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialImage {
  width: 2rem;
}

.tinyFont {
  font-size: 1rem;
}

@media (min-width: 345px) {
  .title {
    text-align: center;
  }
}
